$colors: (
  black: #000000,
  dark: #202020,
  grey: #8C8C8C,
  white: #FFFFFF,
  green: #95AE89,
  red: #E71A27,
);

$black: map-get($colors, black);
$dark: map-get($colors, dark);
$grey: map-get($colors, grey);
$white: map-get($colors, white);
$green: map-get($colors, green);
$red: map-get($colors, red);

@each $name, $color in $colors {

  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}
